{% extends "base.html" %}

{% import "paginate/pagination.html" as paginate %}

{% block title %}我的课程{% endblock %}

{% block head %}

    {{ super() }}
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="../../static/admin/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/admin/css/main.css">

{% endblock %}


{% block page_content %}

    <div class="breadcrub">
            当前位置：课程大厅>搜索结果
{#            <div><a href="">继续选课</a></div>#}
        </div>
    <div style="margin-top: 30px;padding: 10px 0px 10px 1080px;border-radius: 2px;">
        <button style="background-color: #467FE6; color: #e1e1e1;border: 0px;border-radius: 4px;" onclick="window.location.href='{{ url_for('student.show_all_course') }}'">返回</button>
    </div>

        <div class="pannel" style="margin-top: 0">
            <table class="common_table">
                <tr>
                    <th>课程代码</th>
                    <th>课程名</th>
                    <th>学年</th>
                    <th>学期</th>
                    <th>开课学院</th>
                    <th>课程分类</th>
                    <th>学分</th>
                    <th>上课时间</th>
                    <th>上课地点</th>
                    <th>课程老师</th>
                    <th>课程状态</th>

                    <th>管理操作</th>
                </tr>
                {% for course in data.courses %}
                <tr>
                    <td>{{ course.course_sid }}</td>
                    {% if current_user in course.students %}
                    <td style="color: red;">{{ course.course_name }}</td>
                    {% else %}
                    <td>{{ course.course_name }}</td>
                    {% endif %}
                    <td>{{ course.academic_year }}</td>
                    <td>{{ course.semester }}</td>
                    <td>{{ course.begin_college }}</td>
                    <td>{{ course.course_category }}</td>
                    <td>{{ course.credit_hour }}</td>
                    <td>{{ course.course_time }}</td>
                    <td>{{ course.course_adr }}</td>
                    <td>{{ course.teacher.username }}</td>
                    {% if course.course_state %}
                        <td style="color: green">已开放</td>
                    {% else %}
                        <td style="color: red">未开放</td>
                    {% endif %}
                    <td>
						<a href="{{url_for('student.select_course_detail', course_sid=course.course_sid)}}" class="edit">选课</a>
					</td>
                </tr>
                {% endfor %}
            </table>
        {% if pagination %}

        {% endif %}
        </div>

        <div class="box">
            {% if pagination %}
            <div class="pagination" style="margin: 10px 0;">
                {{ paginate.pagination_widget(pagination, 'student.show_all_course') }}
            </div>
            {% endif %}

        </div>

{% endblock %}

