
{% extends 'base.html' %}

{% block title %}课程详情{% endblock %}

{% block head %}

    {{ super() }}
    <style type="text/css">
        body{
            background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
        }
        a{

            color: white;
            text-decoration: none;

        }
        a:hover{
            text-decoration: none;
            color:darkred;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="../../static/error/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/error/css/main.css">
{#    <script type="text/javascript" src="../../static/error/js/jquery-1.12.4.min.js"></script>#}
{#    <script type="text/javascript" src="../../static/error/js/main.js"></script>#}
{#     <script type="text/javascript" src="../../static/error/js/detail.js"></script>#}
    <link rel="stylesheet" type="text/css" href="../../static/admin/css/main.css">


{% endblock %}

{% block avatar %}
{#这里这样写就表示继承自这个模板的页面都需要传递data#}
    {% if data.user_info.avatar_url %}
        <li>
            <div style="width: 40px; height:40px; background-color: white; margin-top: 5px;margin-left: 20px;">
                <a href="{{ url_for('main.user', userid=current_user.sid) }}"}>
                    <img style="width: 100%; height: 100%; " src="{{ data.user_info.avatar_url }}"/>
                </a>
            </div>
        </li>
    {% else %}
        <li>
            <div style="width: 40px; height:40px; background-color: white; margin-top: 5px;margin-left: 20px;">
                <a href="{{ url_for('main.user', userid=current_user.sid) }}"}>
                    <img style="width: 100%; height: 100%; " src="../../static/auth/user_default.png"/>
                </a>
            </div>
        </li>
    {% endif %}
{% endblock %}

{% block page_content %}
    <div class="breadcrub" style="margin: 0 0 10px 0;">
            当前位置：课程大厅>课程详情
    </div>
<div style="width: 100%;height:800px;border-radius: 15px;">
<div style="width: 100%; margin: 0 auto 20px;background-color: #f0f0f0;border: 1px solid #e1e1e1;padding: 10px 0;border-radius: 4px;font-size: 16px;">
    <button style="margin-left: 845px; background-color: #467FE6; color: #e1e1e1;border: 0px;border-radius: 4px;"><a href="{{ url_for('student.teacher_profile', teacher_id=data.course.teacher.id) }}">老师</a></button>
    {% if current_user in data.course.students %}
        <button style="margin-left: 60px; background-color: red; color: #e1e1e1;border: 0px;border-radius: 4px;"><a href="{{url_for('student.drop_course', course_sid=data.course.course_sid)}}">退选</a></button>
    {% else %}
        <button style="margin-left: 60px; background-color: #467FE6; color: #e1e1e1;border: 0px;border-radius: 4px;"><a href="{{url_for('student.select_course', course_sid=data.course.course_sid)}}">选课</a></button>
    {% endif %}
    <button style="margin-left: 60px; background-color: #467FE6; color: #e1e1e1;border: 0px;border-radius: 4px;"><a href="{{ url_for('student.show_all_course') }}">返回</a></button>

</div>
    <div class="detail_con fl" style="width: 40%; height: 70%;border: 2px solid #e1e1e1;border-radius: 5px;background-color: rgb(241,242,246)">
            <h4>{{ data.course.course_name }}</h4>
            <div style="width: 160px;height: 160px;text-align: center;">
                {% if data.course.course_avatar %}
                    <img src="{{ data.course.course_avatar}}" style="vertical-align: middle; max-height: 160px;max-width: 160px;"/>
                {% else %}
                    <img src="../../static/error/images/宪法.jpg" style="vertical-align: middle;max-width: 160px;max-height: 160px;"/>
                {% endif %}
            </div>
            <div class="detail_about clearfix"style="border: none;">
                <span class="time_souce fl"> 课程代码：{{ data.course.course_sid }}</span>
            </div>

            <div class="detail_about clearfix">
                 <span class="time_souce fl"> 课程名：{{ data.course.course_name}}</span>
            </div>

            <div class="detail_about clearfix">
                <span class="time_souce fl"> 学年：{{ data.course.academic_year }}</span>
            </div>

            <div class="detail_about clearfix">
                <span class="time_souce fl">开课学院：{{ data.course.begin_college }}</span>
            </div>

            <div class="detail_about clearfix">
                <span class="time_souce fl"> 学分：{{ data.course.credit_hour }}</span>
            </div>

            <div class="detail_about clearfix">
                <span class="time_souce fl"> 课程老师：{{ data.course.teacher.username }}</span>

            </div>

            <div class="detail_about clearfix">
                <span class="time_souce fl"> 上课时间：{{ data.course.course_time }}</span>

            </div>

            <div class="detail_about clearfix">
                <span class="time_souce fl"> 上课地点：{{ data.course.course_adr }}</span>

            </div>
    </div>

    <div class="detail_con fl" style="width: 60%;height: 70%;background-color:rgb(241,242,246);float: right;border: 2px solid #e1e1e1;border-radius: 5px;">
        <h4>教材介绍：</h4>
        <div>
            <p>
                <span style="font-size: 20px;padding-left: 40px;">内容简介：</span><br>
                {% if data.course.course_book.author_about %}
                    <p style="text-indent: 80px">{{ data.course.course_book.author_about }}</p>
                {% else %}
                    <p style="text-align: center;"><span style="color: blue; font-size: 28px;">暂无介绍</span></p>
                {% endif %}

            </p>
        </div>
        <div>
            <p>
                <span style="font-size: 20px; padding-left: 40px;">作者简介：</span><br/>
                {% if data.course.course_book.book_describe %}
                    <p style="text-indent: 80px;margin-bottom: 30px;">{{ data.course.course_book.book_describe }}</p>
                {% else %}
                    <p style="text-align: center;margin-bottom: 30px;"><span style="color: blue; font-size: 28px;">暂无介绍</span></p>
                {% endif %}
            </p>
        </div>



        </div>
    </div>



</div>


{% endblock %}

{#{% extends 'base.html' %}#}
{##}
{#{% block title %}课程详情{% endblock %}#}
{##}
{#{% block head %}#}
{##}
{#    {{ super() }}#}
{#    <style type="text/css">#}
{#        body{#}
{#            background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);#}
{#        }#}
{#        a{#}
{##}
{#            color: rgb(116,95,214);#}
{#        }#}
{#    </style>#}
{#    <link rel="stylesheet" type="text/css" href="../../static/error/css/reset.css">#}
{#    <link rel="stylesheet" type="text/css" href="../../static/error/css/main.css">#}
{#    <script type="text/javascript" src="../../static/error/js/jquery-1.12.4.min.js"></script>#}
{#    <script type="text/javascript" src="../../static/error/js/main.js"></script>#}
{#     <script type="text/javascript" src="../../static/error/js/detail.js"></script>#}
{##}
{#{% endblock %}#}
{##}
{#{% block page_content %}#}
{#<div style="width: 100%;height:800px; background-color: white;padding-top: 40px;border-radius: 15px;">#}
{#    <div style="display: table-cell;float: right; width: 80px; height: 85%;background-color: white; margin-right:40px;border-radius: 5px;padding-top: 70px;text-align: center ">#}
{#     {% if course in data.user_info.courses %}#}
{#            <div style="height: 25%; width: 100%; background-color: red; margin-bottom: 40px;;writing-mode: vertical-lr;vertical-align: middle; text-align: center; border-radius: 10px;">#}
{#                    <p style="font-size: 26px;">学生信息</p>#}
{#                        <div style="font-size: 26px;display: inline-block;margin-left: 20px;"><a href="{{ url_for('student.drop_course', course_sid=course.course_sid) }}" style="text-decoration: none; color: white">退选课程</a></div>#}
{#            </div>#}
{#    {% else %}#}
{#            <div style="height: 25%; width: 100%; background-color: cornflowerblue; margin-bottom: 40px;;writing-mode: vertical-lr;vertical-align: middle; text-align: center; border-radius: 10px;">#}
{#                <div style="font-size: 26px;display: inline-block;margin-left: 20px;"><a href="{{ url_for('student.select_course', course_sid=course.course_sid) }}" style="text-decoration: none; color: white">选择课程</a></div>#}
{#            </div>#}
{#    {% endif %}#}
{##}
{#            <div style="height: 25%; width: 100%;background-color: cornflowerblue; margin-bottom: 40px;;writing-mode: vertical-lr;vertical-align: middle; text-align: center; border-radius: 10px;">#}
{#                <div style="font-size: 26px;display: inline-block;margin-left: 20px;"><a href="{{ url_for('student.teacher_profile', teacher_id=course.teacher.id) }}" style="text-decoration: none; color: white">老师信息</a></div>#}
{#            </div>#}
{##}
{#            <div style="height: 25%; width: 100%;background-color: cornflowerblue; margin-bottom: 40px;;writing-mode: vertical-lr;vertical-align: middle; text-align: center; border-radius: 10px;">#}
{#                <div style="font-size: 26px;display: inline-block;margin-left: 20px;"><a href="{{ url_for('student.show_all_course') }}" style="text-decoration: none; color: white;">上一级</a></div>#}
{#            </div>#}
{##}
{#    </div>#}
{#    <div class="detail_con fl" style="width: 30%; height: 85%;border-radius: 10px;margin-left: 50px;">#}
{#            <h4>{{ data.course.course_name }}</h4>#}
{#            <div style="width: 160px;height: 160px;text-align: center;">#}
{#                {% if data.course.course_avatar %}#}
{#                    <img src="{{ data.course.course_avatar}}" style="vertical-align: middle;max-width: 160px;max-height: 160px;"/>#}
{#                {% else %}#}
{#                    <img src="../../static/error/images/宪法.jpg" style="vertical-align: middle; max-width: 160px;max-height: 160px;"/>#}
{#                {% endif %}#}
{#            </div>#}
{#            <div class="detail_about clearfix">#}
{#                <span class="time_souce fl"> 课程代码：{{ data.course.course_sid }}</span>#}
{#            </div>#}
{##}
{#            <div class="detail_about clearfix">#}
{#                 <span class="time_souce fl"> 课程名：{{ data.course.course_name}}</span>#}
{#            </div>#}
{##}
{#            <div class="detail_about clearfix">#}
{#                <span class="time_souce fl"> 学年：{{ data.course.academic_year }}</span>#}
{#            </div>#}
{##}
{#            <div class="detail_about clearfix">#}
{#                <span class="time_souce fl">开课学院：{{ data.course.begin_college }}</span>#}
{#            </div>#}
{##}
{#            <div class="detail_about clearfix">#}
{#                <span class="time_souce fl"> 学分：{{ data.course.credit_hour }}</span>#}
{#            </div>#}
{##}
{#            <div class="detail_about clearfix">#}
{#                <span class="time_souce fl"> 课程老师：{{ data.course.teacher.username }}</span>#}
{##}
{#            </div>#}
{##}
{#            <div class="detail_about clearfix">#}
{#                <span class="time_souce fl"> 上课时间：{{ data.course.course_time }}</span>#}
{##}
{#            </div>#}
{##}
{#            <div class="detail_about clearfix">#}
{#                <span class="time_souce fl"> 上课地点：{{ data.course.course_adr }}</span>#}
{##}
{#            </div>#}
{#    </div>#}
{##}
{#    <div class="detail_con fl" style="width: 50%;height: 85%; background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);;float: right;border-radius: 10px;margin-right: 20px;">#}
{#        <h4>课程使用图书介绍：</h4>#}
{#        <div style="">#}
{##}
{#            <p>#}
{#                内容简介：<br>#}
{#                {% if data.course.course_book.author_about %}#}
{#                    {{ data.course.course_book.author_about }}#}
{#                {% else %}#}
{#                    <p style="text-align: center;"><span style="color: blue; font-size: 28px;">暂无介绍</span></p>#}
{#                {% endif %}#}
{##}
{#            </p>#}
{##}
{#            <p>#}
{#                作者简介：<br/>#}
{#                {% if data.course.course_book.book_describe %}#}
{#                    {{ data.course.course_book.book_describe }}#}
{#                {% else %}#}
{#                    <p style="text-align: center;"><span style="color: blue; font-size: 28px;">暂无介绍</span></p>#}
{#                {% endif %}#}
{#            </p>#}
{##}
{##}
{#        </div>#}
{#    </div>#}
{##}
{##}
{##}
{#</div>#}
{##}
{##}
{#{% endblock %}#}