{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}选课系统—创建课程{% endblock %}

{% block head %}
{{ super() }}
<meta charset="UTF-8"/>

{#    <link rel="stylesheet" type="text/css" href="../../static/admin/css/reset.css">#}
    <link rel="stylesheet" type="text/css" href="../../static/admin/css/main.css">
    <style type="text/css">

    input{
            outline: none;
            border: none;
            border-radius: 5px;
    }

     #book_author{
         width: 360px;
         height:130px;
         border: 2px solid #e1e1e1;
         border-radius: 10px;
         outline: none;
     }
     #book_describe{
         width: 360px;
         height:130px;
         border: 2px solid #e1e1e1;
         border-radius: 10px;
         outline: none;
     }

     #course_category{
         width: 160px;
         height: 28px;
         outline: none;
         border: none;
         border-radius: 5px;
     }

     #course_time{
         width: 225px;
     }

     #submit{
         border-radius: 10px;
     }
     .book{
         margin-left: 95px;
     }
     .book2{
         margin-left: 60px;
     }

    </style>

{% endblock %}

{% block page_content %}
    <div class="breadcrub" style="margin: 0 0 10px 0;">
            当前位置：课程大厅>编辑课程
    </div>
    <div style="width: 100%; border: 1px solid #e1e1e1;">
        <a href="{{ url_for('teacher.course_detail', course_sid=data.course_sid) }}"><button style="margin:10px 0px 10px 995px; background-color: #467FE6; color: #e1e1e1;border: none;outline: none;border-radius: 4px;">返回</button></a>

    </div>

    <div style="border:3px solid #e1e1e1;border-radius: 5px; height: 580px;margin-top: 10px;font-family: 宋体;font-size: 18px;">
        <form method="post" action="" enctype="multipart/form-data">
            <div style="padding-top:30px;">
                <div style="display: inline-block;">
                    <div>
                    {{ form.course_name.label(style="margin-left: 80px;")  }}:{{ form.course_name }}<br/>
                    {% for message in form.course_name.errors %}
                        <div class="error" style="text-align: left; margin-left: 140px; color: red; float: left">{{ message }}</div>
                    {% endfor %}
                    </div>
                </div>

                <div style="display: inline-block;" >
                    <div>
                        {{ form.academic_year.label(style="margin-left: 115px;") }}:{{ form.academic_year }}<br/>
                        {% for message in form.academic_year.errors %}
                            <div class="error" style="text-align: left; margin-left: 135px; color: red;float: left">{{ message }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div style="display: inline-block;">
                    <div>
                    {{ form.semester.label(style="margin-left: 100px;") }}:{{ form.semester }}<br/>
                    {% for message in form.semester.errors %}
                        <div class="error" style="text-align: left; margin-left: 170px; color: red;float: left">{{ message }}</div>
                    {% endfor %}

                    </div>
                </div>
            </div>

            <div style="padding-top:30px;">
                <div style="display: inline-block;" >
                <div>
                    {{ form.begin_college.label(style="margin-left: 61px;")  }}:{{ form.begin_college }}<br/>
                    {% for message in form.begin_college.errors %}
                        <div class="error" style="text-align: left; margin-left: 140px; color: red;float: left">{{ message }}</div>
                    {% endfor %}

                </div>
                </div>
                <div style="display: inline-block;" >
                    {{ form.course_category.label(style="margin-left: 80px;") }}:{{ form.course_category }}
                </div>

                <div style="display: inline-block;" >
                <div>
                    {{ form.credit_hour.label(style="margin-left: 90px;") }}:{{ form.credit_hour }}<br/>
                    {% for message in form.credit_hour.errors %}
                        <div class="error" style="text-align: left; margin-left: 170px; color: red;float: left">{{ message }}</div>
                    {% endfor %}
                </div>
                </div>

            </div>
            <div style="padding-top:30px;">
                <div style="display: inline-block;" >
                <div>
                    {{ form.course_time.label(style="margin-left: 61px;")  }}:{{ form.course_time }}<br/>
                    {% for message in form.course_time.errors %}
                        <div class="error" style="text-align: left; margin-left: 140px; color: red;float: left">{{ message }}</div>
                    {% endfor %}

                </div>

                </div>
                <div style="display: inline-block;" >
                <div>
                    {{ form.course_adr.label(style="margin-left: 43px;") }}:{{ form.course_adr }}<br/>
                    {% for message in form.course_adr.errors %}
                        <div class="error" style="text-align: left; margin-left: 100px; color: red;float: left">{{ message }}</div>
                    {% endfor %}

                </div>
                </div>

            </div>

{#            <div style="padding-top:30px;">#}
{#                {{ form.course_avatar.label(style="margin-left: 60px;") }}:{{ form.course_avatar(style="display: inline-block") }}#}
{#            </div>#}

            <div style="padding-top:30px;">
                <div style="display: inline-block;">
                    {{ form.course_avatar.label(style="margin-left: 90px;") }}:{{ form.course_avatar(style="display: inline-block") }}
                </div>
                <div style="display: inline-block">
                    {{ form.largest_number.label(style="margin-left: 280px;") }}:{{ form.largest_number }}

                </div>
            </div>

            <div style="padding-top:30px;">
                <div class="book" style="display: inline-block">
                    <div>{{ form.book_author.label }}:</div>
                    {{ form.book_author(style="display: inline-block; border-radu") }}
                </div>

                <div class="book2" style="display: inline-block;">
                    <div>{{ form.book_describe.label }}:
                    </div>{{ form.book_describe }}
                </div>
                <div style=" float: right">
                    <div style="padding-top: 65px;padding-right: 95px;">{{ form.submit(style="background-color: #4d9df1; color: white;width:85px;height: 45px;") }}</div>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                </div>
            </div>

        </form>
    </div>

{% endblock %}

{#{% extends "base.html" %}#}
{#{% import "bootstrap/wtf.html" as wtf %}#}
{#{% block title %}选课系统—添加课程{% endblock %}#}
{##}
{#{% block head %}#}
{#{{ super() }}#}
{#<meta charset="UTF-8"/>#}
{##}
{#<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}" type="text/css" />#}
{##}
{#<style type="text/css">#}
{#    body{#}
{#       background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);#}
{#    }#}
{##}
{#    .input{#}
{#        border-radius:15px;#}
{#    }#}
{#    .Content-Main{#}
{#        text-align: right;#}
{#        max-width: 440px;#}
{#        border: 6px solid rgb(240,240,240);#}
{#        -moz-border-radius: 5px;#}
{#        -webkit-border-radius: 20px;#}
{#        font: 13px 微软雅黑;#}
{##}
{#        color: #231a1a;#}
{#        background: rgb(255,255,255);#}
{#    }#}
{#     p{#}
{#        text-align: center;#}
{#        padding: 0 2px;#}
{#        display: block;#}
{#        margin-top: 10px;#}
{#        border-bottom: 4px solid rgb(227,231,237);#}
{#        font: 28px 华文彩云 ;#}
{#        color: rgb(7, 106, 95);#}
{#    }#}
{##}
{#    .Content-Main label{#}
{#        margin: 0 10px;#}
{#        display: block;#}
{#        font-size: 14px;#}
{#    }#}
{#    .Content-Main label>span{#}
{#        margin-top: 10px;#}
{#        padding-right: 30px;#}
{#        display: block;#}
{#    }#}
{##}
{#    .Content-Main input[type="text"],.Content-Main input[type="email"] input[type="file"]{#}
{#        height: 30px;#}
{#        width: 75%;#}
{#        line-height: 15px;#}
{#        padding: 5px 0px 5px 5px;#}
{#        margin-bottom: 2px;#}
{#        margin-right: 6px;#}
{#        margin-top: 2px;#}
{#        border: 3px solid rgb(227,231,237);#}
{#        border-radius:2px;#}
{#        -webkit-border-radius:2px;#}
{#        -moz-border-radius:2px;#}
{#        outline: 0 none;#}
{##}
{#        color: #525252;#}
{#        display: inline-block;#}
{#    }#}
{##}
{#    .Content-Main .button{#}
{#        padding: 8px 24px 8px 24px;#}
{#        margin-bottom: 8px;#}
{#        border: none;#}
{#        border-radius: 4px;#}
{#        -moz-border-radius: 4px;#}
{#        -webkit-border-radius: 4px;#}
{#        font-weight: bold;#}
{##}
{##}
{#        -moz-box-shadow: 1px 1px 1px  #3D3D3D;#}
{#        -webkit-box-shadow: 1px 1px 1px  #3D3D3D;#}
{#        color: white;#}
{#        background: rgb(83,202,195);#}
{#    }#}
{#    .Content-Main .button:hover{#}
{#        color:  white;#}
{#        background-color:  rgb(106,219,207) ;#}
{#    }#}
{#</style>#}
{##}
{#{% endblock %}#}
{##}
{#{% block page_content %}#}
{##}
{#    <div class="input" style="background-color: white; height: 600px;margin-top: 15px;">#}
{##}
{#                <form  action="" method="post" class="form-userInfo" enctype="multipart/form-data" style="padding-bottom: 10px;">#}
{#                     <div class="Content-Main" style="float: left; margin-left: 125px;margin-top: 70px;"><p>课程信息</p>#}
{##}
{#                        <label>#}
{#                           <span>{{ form.course_name.label.text }} : {{ form.course_name }}</span>#}
{#                            {% for message in form.course_name.errors %}#}
{#                                    <div class="error" style="text-align: left; margin-left: 90px; color: red;">{{ message }}</div>#}
{##}
{#                                {% endfor %}#}
{##}
{#                        </label>#}
{##}
{#                        <label>#}
{#                            <span>{{ form.academic_year.label.text }} : {{ form.academic_year }}</span>#}
{#                            {% for message in form.academic_year.errors %}#}
{#                                    <div class="error" style="text-align: left; margin-left: 90px; color: red;">{{ message }}</div>#}
{##}
{#                                {% endfor %}#}
{#                        </label>#}
{##}
{#                        <label>#}
{#                            <span>{{ form.semester.label.text }} : {{ form.semester }}</span>#}
{#                            {% for message in form.semester.errors %}#}
{#                                    <div class="error" style="text-align: left; margin-left: 90px; color: red;">{{ message }}</div>#}
{##}
{#                                {% endfor %}#}
{#                        </label>#}
{#                        <label>#}
{#                            <span>{{ form.begin_college.label.text }} : {{ form.begin_college }}</span>#}
{#                            {% for message in form.begin_college.errors %}#}
{#                                    <div class="error" style="text-align: left; margin-left: 80px; color: red;">{{ message }}</div>#}
{##}
{#                                {% endfor %}#}
{#                        </label>#}
{#                        <label>#}
{#                            <span style="padding-right: 226px;">{{ form.course_category.label.text }} : {{ form.course_category }}</span>#}
{#                            {% for message in form.course_category.errors %}#}
{#                                    <div class="error" style="text-align: left; margin-left: 90px; color: red;">{{ message }}</div>#}
{##}
{#                                {% endfor %}#}
{#                        </label>#}
{#                        <label>#}
{#                            <span>{{ form.credit_hour.label.text }} : {{ form.credit_hour }}</span>#}
{#                            {% for message in form.credit_hour.errors %}#}
{#                                    <div class="error" style="text-align: left; margin-left: 90px; color: red;">{{ message }}</div>#}
{##}
{#                                {% endfor %}#}
{#                        </label>#}
{#                        <label>#}
{#                            <span>{{ form.course_time.label.text }} : {{ form.course_time }}</span>#}
{#                            {% for message in form.course_time.errors %}#}
{#                                    <div class="error" style="text-align: left; margin-left: 90px; color: red;">{{ message }}</div>#}
{##}
{#                                {% endfor %}#}
{#                        </label>#}
{#                        <label>#}
{#                            <span>{{ form.course_adr.label.text }} : {{ form.course_adr }}</span>#}
{#                            {% for message in form.course_adr.errors %}#}
{#                                    <div class="error" style="text-align: left; margin-left: 90px; color: red;">{{ message }}</div>#}
{##}
{#                                {% endfor %}#}
{#                        </label>#}
{#                        <label>#}
{#                            <span style="display: flex; padding-left: 20px;">{{ form.course_avatar.label.text }} : {{ form.course_avatar }}</span>#}
{#                                {% for message in form.course_avatar.errors %}#}
{#                                    <div class="error" style="text-align: left; margin-left: 90px; color: red;">{{ message }}</div>#}
{#                                {% endfor %}#}
{#                        </label>#}
{#                        <label>#}
{#                        <span style="padding-right: 160px;padding-top:20px;margin: 0 auto;">{{ form.csrf_token }}{{ form.submit }}</span>#}
{#                        </label>#}
{##}
{#                    </div>#}
{##}
{#                    <div style="float: right; background-color: white; display: block;width: 400px;height: 470px;margin-top: 70px;margin-right: 140px;border: 5px solid rgb(227,231,237);border-radius: 15px;">#}
{##}
{#                        <label style="margin-top: 50px;margin-left: 20px ;margin-bottom: 100px;">#}
{#                                <span style="margin-bottom: 20px;">{{ form.book_author.label.text }} :<br/>#}
{#                                    <span style="margin-left: 80px;">{{ form.book_author}}</span></span>#}
{#                                {% for message in form.book_author.errors %}#}
{#                                    <div class="error" style="text-align: left; margin-left: 90px; color: red;">{{ message }}</div>#}
{##}
{#                                {% endfor %}#}
{#                        </label>#}
{#                            <br/>#}
{#                        <label style="margin-bottom: 50px;margin-left: 20px ;">#}
{#                                <span>{{ form.book_describe.label.text }} :<br/>#}
{#                                    <span style="margin-left: 80px;width: 100px;">{{ form.book_describe}}</span></span>#}
{#                                {% for message in form.book_describe.errors %}#}
{#                                    <div class="error" style="text-align: left; margin-left: 90px; color: red;">{{ message }}</div>#}
{##}
{#                                {% endfor %}#}
{#                        </label>#}
{##}
{#                    </div>#}
{##}
{#                </form>#}
{#    </div>#}
{##}
{#{% endblock %}#}