{% extends "base.html" %}

{% import "paginate/pagination.html" as paginate %}

{% block title %}全部课程{% endblock %}

{% block head %}

    {{ super() }}
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="../../static/admin/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/admin/css/main.css">

{% endblock %}


{% block page_content %}

    <div class="breadcrub">
            当前位置：课程大厅>课程学生
{#            <div><a href="">继续选课</a></div>#}
        </div>
        <div class="pannel">
            <table class="common_table">
                <tr>
                    <th>姓名</th>
                    <th>年龄</th>
                    <th>性别</th>
                    <th>学号</th>
                    <th>学校</th>
                    <th>学院</th>
                    <th>邮箱</th>
                    <th>管理</th>
                </tr>
                {% for student in students %}
                <tr>
                    <td>{{ student.username }}</td>
                    <td>{{ student.age }}</td>
                    <td>{{ student.sex }}</td>
                    <td>{{ student.sid }}</td>
                    <td>{{ student.university }}</td>
                    <td>{{ student.school }}</td>
                    <td>{{ student.email }}</td>
                    <td>
						<a href="#" class="edit">查看</a>
					</td>
                </tr>
                {% endfor %}
            </table>
        {% if pagination %}

        {% endif %}
        </div>

        <div class="box">
            {% if pagination %}
            <div class="pagination" style="margin: 10px 0;">
                {{ paginate.pagination_widget(pagination, 'student.show_all_course') }}
            </div>
            {% endif %}

        </div>

{% endblock %}



{#{% extends "base.html" %}#}
{#{% import "paginate/pagination.html" as paginate %}#}
{##}
{#{% block title %}选课系统—管理课程{% endblock %}#}
{##}
{#{% block head %}#}
{##}
{#{{ super() }}#}
{#<meta charset="UTF-8"/>#}
{#<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}" type="text/css" />#}
{#<script src="https://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>#}
{#    <style>#}
{#        body {#}
{#            background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);#}
{#        }#}
{##}
{#        th {#}
{#            text-align: center;#}
{#            vertical-align: middle;#}
{#        }#}
{##}
{#        table {#}
{#	        width:100%;#}
{#        }#}
{##}
{#        td > a:hover{#}
{#            color: rgb(56,249,214);#}
{#            text-decoration: none;#}
{##}
{#        }#}
{##}
{#        td > a{#}
{#            color: rgb(67,233,123);#}
{#            text-decoration: none;#}
{#        }#}
{#        td>a:visited{#}
{#            text-decoration: none;#}
{#        }#}
{##}
{#        td{#}
{#            border: 2px solid rgb(230,215,202);#}
{#        }#}
{##}
{#        th{#}
{#            border: 2px solid rgb(230,215,202);#}
{#        }#}
{##}
{##}
{#    </style>#}
{##}
{#{% endblock %}#}
{##}
{#{% block page_content %}#}
{##}
{#<div style="display: table-cell;width: 1200px ;height: 600px;background-color: white;text-align: center; vertical-align: middle;border-radius: 5px;">#}
{#    <div style="text-align: center;margin: 0 auto; vertical-align: middle;border-radius: 5px;">#}
{#        <div style="margin: 0 10px;background-color: rgb(244,244,244); border-radius: 5px;padding: 10px 5px;">#}
{#            <table id="dragTable" border="1" width="98%" border="2px" cellspacing="4" style="margin: auto;">#}
{#            <tbody>#}
{#            <tr>#}
{#                <h2 style="text-align: center; color: rgb(102,102,102)">课程学生信息</h2>#}
{#            </tr>#}
{#                <tr>#}
{#                    <th width="100px">姓名</th>#}
{#                    <th width="190px">年龄</th>#}
{#                    <th width="190px">性别</th>#}
{#                    <th width="135px">学号</th>#}
{#                    <th width="190px">学校</th>#}
{#                    <th width="190px">学院</th>#}
{#                    <th width="190px">邮箱</th>#}
{#                </tr>#}
{#                {% for student in students %}#}
{#                    <tr>#}
{#                        <td>{{ student.username }}</td>#}
{#                        <td>{{ student.age }}</td>#}
{#                        <td>{{ student.sex }}</td>#}
{#                        <td>{{ student.sid }}</td>#}
{#                        <td>{{ student.university }}</td>#}
{#                        <td>{{ student.school }}</td>#}
{#                        <td>{{ student.email }}</td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
{##}
{#        </div>#}
{##}
{##}
{#    </div>#}
{#{% if pagination %}#}
{#    <div class="pagination" style="margin: 10px 0;">#}
{#    {{ paginate.pagination_widget(pagination, 'teacher.student_of_course', course_sid = data.course.course_sid) }}#}
{#    </div>#}
{#{% endif %}#}
{##}
{#</div>#}
{##}
{##}
{#<script>#}
{# $(function() {#}
{##}
{#     function isNullOrUndefined(obj) {#}
{#         if (typeof(obj) == "undefined" || obj == null) {#}
{#             return true;#}
{#         }#}
{#         return false;#}
{#     }#}
{##}
{#     function registerTableDragEvent() {#}
{##}
{#         var dragTH; //记录拖拽的列#}
{#         //第一步按下#}
{#         $('#dragTable th').mousedown(function(e) {#}
{#             e = e || window.event;#}
{#             if (e.offsetX > $(this).innerWidth() - 10) {#}
{#                 dragTH = $(this);#}
{#                 dragTH.mouseDown = true;#}
{#                 dragTH.oldX = e.pageX || e.clientX;#}
{#                 dragTH.oldWidth = $(this).innerWidth();#}
{#             }#}
{#         })#}
{#         //第二步 拖动#}
{#         $('#dragTable th').mousemove(function(e) {#}
{#             //改鼠标样式#}
{#             if (e.offsetX > $(this).innerWidth() - 10) {#}
{#                 $(this).css({#}
{#                     cursor: "e-resize"#}
{#                 });#}
{#             } else {#}
{#                 $(this).css({#}
{#                     cursor: "default"#}
{#                 });#}
{#             }#}
{#             if (isNullOrUndefined(dragTH)) {#}
{#                 dragTH = $(this);#}
{#             }#}
{#             if (!isNullOrUndefined(dragTH.mouseDown) && dragTH.mouseDown == true) {#}
{#                 var difference = (e.pageX - dragTH.oldX) || (e.clientX - dragTH.oldX);#}
{#                 var newWidth = dragTH.oldWidth + difference; //新的宽度#}
{#                 dragTH.width(newWidth)#}
{#             }#}
{#         })#}
{#         // 第三步，释放#}
{#         $("table#dragTable th").mouseup(function(e) {#}
{#             // 还原鼠标样式#}
{#             // if (isNullOrUndefined(dragTH)) {#}
{#             //     dragTH = $(this);#}
{#             // }#}
{#             dragTH.mouseDown = false;#}
{#             // $(dragTH).css({#}
{#             //     cursor : "default"#}
{#             // });#}
{#         });#}
{#     }#}
{#     registerTableDragEvent()#}
{##}
{# })#}
{#</script>#}
{##}
{#{% endblock %}#}